[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
dask = {extras = ["complete"], version = "*"}
matplotlib = "*"
pytest = "*"
pyinputplus = "*"
flask = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
